<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>校园导航</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/navigate.css">
</head>
<body>
<nav class="navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">校园导航</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button onclick="window.location.href ='index.html'">首页</button>
                </li>

            </ul>
        </div>
    </div>
</nav>
 <div class="container my-5">
     <div class="row">
         <div class="col-lg-4 mb-4">
             <div class="card">
                 <img src="/static/image/map.jpg" class="card-img-top" alt="...">
                 <img src="/static/image/jiaoxuelou.png" class="card-img-top" alt="...">
                 <div class="card-body">
                     <h5 class="card-title">教学楼</h5>
                     <p class="card-text">学习的地方</p>
                     <a href="#" class="btn btn-primary">查看详情</a>
                 </div>
             </div>
         </div>
         <div class="col-lg-4 mb-4">
             <div class="card">
                 <img src="/static/image/shitang.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <h5 class="card-title">食堂</h5>
                     <p class="card-text">吃饭的地方</p>
                     <a href="#" class="btn btn-primary">查看详情</a>
                 </div>
             </div>
         </div>
         <div class="col-lg-4 mb-4">
             <div class="card">
                 <img src="/static/image/liberry.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <h5 class="card-title">图书馆</h5>
                     <p class="card-text">阅读的地方</p>
                     <a href="#" class="btn btn-primary">查看详情</a>
                 </div>
             </div>
         </div>
         <div class="col-lg-4 mb-4">
             <div class="card">
                 <img src="/static/image/tiyuguan.png" class="card-img-top" alt="...">
                 <div class="card-body">
                     <h5 class="card-title">运动场</h5>
                     <p class="card-text">锻炼的地方</p>
                     <a href="#" class="btn btn-primary">查看详情</a>
                 </div>
             </div>
         </div>
         <div class="col-lg-4 mb-4">
             <div class="card">
                 <img src="/static/image/shiyanlou.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <h5 class="card-title">实验室</h5>
                     <p class="card-text">做实验的地方</p>
                     <a href="#" class="btn btn-primary">查看详情</a>
                 </div>
             </div>
         </div>
         <div class="col-lg-4 mb-4">
             <div class="card">
                 <img src="/static/image/sushe.jpg" class="card-img-top" alt="...">
                 <div class="card-body">
                     <h5 class="card-title">宿舍楼</h5>
                     <p class="card-text">休息的地方</p>
                     <a href="#" class="btn btn-primary">查看详情</a>
                 </div>
             </div>
         </div>
 </div>
 </div>
 <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
 <script src="/js/navigate.js"></script>
</body>
</html>