<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>二手交易</title>
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
  <script src="/static/js/jQuery-3.7.0.js"></script>
  <script src="/static/js/transaction.js"></script>

  <script src="/js/jQuery-3.7.0.js"></script>
  <script src="/js/transaction.js"></script>
</head>
<body>

<nav class="navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button onclick="window.location.href ='index.html'">首页</button>
        </li>

      </ul>
    </div>
  </div>
</nav>
<main class="container">

  <h1 class="my-5 text-center">二手交易</h1>

  <div style="text-align: center">
    <form id="postForm">
      <h2>发布交易</h2>

      <label for="goodsName">商品:</label>
      <input type="text" id="goodsName" name="goodsName" required>

      <input type="text" value="123456" name="sellerId" hidden="hidden">

      <label for="phoneNumber">电话:</label>
      <input type="text" id="phoneNumber" name="phoneNumber"  style="margin-top: 10px" required><br>

      <label for="goodsPrice">价格:</label>
      <input type="text" id="goodsPrice" name="goodsPrice" style="margin-top: 10px" required>

      <label for="goodsDescribe">描述:</label>
      <textarea id="goodsDescribe" name="goodsDescribe" style="margin-top: 10px" required></textarea><br>

      <label for="image">图片:</label>
      <input type="file" id="image" name="file" accept="image/*" required><br><br>

      <input type="submit" value="发布二手货" style="width: 150px;height: 30px">
    </form>
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="all" role="tabpanel" aria-labelledby="all-tab">
      <div class="card-columns" id="list">

      </div>
    </div>



  </div>
</main>
</body>
</html>